<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Machine Learning</title>

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <link rel="stylesheet" href="./static/css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- FROM WORKING MAP -->

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="./static/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="static/js/echarts.min.js"></script>


</head>

<body>
    <div class="container">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Biometric: Brain Waves & Accelerometer / Gyroscope Phone & Watch Analysis</h1>
            <p>Predictions using Brain / Phone and Watch Data</p>
          </div>
        </div>
    
        <hr>
    
        <div class="row">
          <div class="col-md-12">
        </div>
    
        <hr>
    
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        
        <hr>
    
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    
        <hr>
    
        <div class="row">

          <div class="col-md-4">
          </div>
    
    
          <div class="col-md-8">
          </div>
    
        </div>
        <hr>
    
        <div class="row">
    
          <div class="well">
            <div class="col-md-3">    
                <label for="date">Enter Search Term</label>
                <input class="form-control" id="searcht" type="text" placeholder="Bitcoin">
              
            </div>
          
          </div>
          <div class="well">
              <div class="col-md-3">
                
                  <button id="filter-btn" type="button" class="btn btn-default">Read Tweets Now</button>
              
              </div>
          </div>
          
        </div>
    
        <hr>
    
        <div class="row">
            <div class="col-md-12">
              <div class="well">
                <div id="ntw1"></div>
              </div>          
          </div>
        </div>
        
        
        <hr>
    
        <div class="row">
            <div class="col-md-12">
                <h1 class="title1">Predictions from Model</h1>
            </div>
        </div>
    
        <hr>
    
      <div class="row">
        <div class="col-md-4">
          <h2 class="title2">First Model</h2>
          <div id="pos"></div>
        </div>
        <div class="col-md-4">
          <h2 class="title2">Second Model</h2>
          <div id="neg"></div>
        </div>
        <div class="col-md-4">
          <h2 class="title2">Third Model</h2>
          <div id="neu"></div>
        </div>
      </div>
      </div>
    
      <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
      <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
      <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
    
        <!-- API key -->
        <script type="text/javascript" src="static/js/config.js"></script>
    
        <!-- JS -->
        <script type="text/javascript" src="static/js/heatmap.js"></script>
    
        <script type="text/javascript" src="static/js/tweeter1.js"></script>
    
        <!-- Leaflet heatmap plugin-->
        <script type="text/javascript" src="static/js/leaflet-heat.js"></script>
    
        <!-- BITCOIN -->
    
    
    </body>
    
    </html>